@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #000;
	text-align: center;
	font-family: "Prompt", sans-serif;
}

#main-wrapper {
	display: flex;
	flex-direction: column;
}

#header {
	background-color: black;
	height: 150px;
	width: 100%;
	color: white;
}

#space-bar {
	background-color: blue;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#search-bar-container {
	background-color: chartreuse;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#footer {
	background-color: crimson;
	height: 200px;
}
